{% extends "login-layout.html" %}

{% block link %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/password-reset.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='javascript/password-email.js') }}" ></script>
{% endblock %}

{% block title %}
    Verify Email
{% endblock %}

{% block main %}
    <div class='reset-prompt'>
        <p class='secondary-prompts'>Enter your email and we'll send you a code to change your password</p>
    </div>
    <div class="form-div">
      <form id="email-form" method='POST' novalidate>
        <div class="group bottom-margin-form">
          <input type="text" name='email' id='email-input' required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
        </div>
        <div class='error-message hide' id='email-error'></div>

        <div><a class='secondary-prompts' href='/login'>Back to login</a></div>
        <div class='btn-div'>
            <button type="submit" class="btn" id='send-button' data-loading='Sending' data-default='Send Code'>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                <span id="text">Send Code</span>
            </button>
        </div>
      </form>  
    </div>          
{% endblock %}