{% extends "login-layout.html" %}

{% block link %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/password-reset.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='javascript/password-code.js') }}" ></script>
{% endblock %}

{% block title %}
    Verify Code
{% endblock %}

{% block main %}
    <div class='reset-prompt'>
        <p class='secondary-prompts'>Enter the 4 digit code below that we sent you via email to continue</p>
    </div>
    <div class="form-div">
      <form id="code-form" method='POST' novalidate>
        <div class="group bottom-margin-form">      
          <input type="number" maxlength='4' oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" onwheel="this.blur()" required name='code' id='code-input'>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Security Code</label>
        </div> 
        <div class='error-message hide' id='code-error'></div>

        <div><a class='secondary-prompts' href='/login'>Back to login</a></div>
        <div><a class='secondary-prompts' href='/verify_email'>Send new code</a></div>
        <div class='btn-div'>
            <button type="submit" class="btn" id='verify-button' data-loading='Verifying' data-default='Verify'>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                <span id="text">Verify</span>
            </button>
        </div>
      </form>  
    </div>          
{% endblock %}