{% extends "login-modal-layout.html" %}

{% set id = "email" %}

{% block body %}
    <div class="form-div">
        <form class="form" novalidate method='POST' action="/email" id='email-form'>
            <div class="sign-in">
                Enter your email address
            </div>
            <div class="email-dialogue">
                Enter your email address and we'll send you a code to change your password
            </div>
            <div>
                <label class="label">
                    <input class="input-border" type="text" name='email' id='email-email-input' required>
                </label>
            </div>
            <div class='error-message hide' id='email-email-error'></div>

            <div class="btn-join-div"> 
                <div class='btn-div'><button type="submit" class="btn" id='sendBtn'>Send Code</button></div>
                <div class="join-div"><a class="join-link" data-toggle="modal" data-dismiss="modal" data-target="#registerModal" href='#'>Back to Sign In</a></div>
            </div>
        </form>  
    </div>
{% endblock %}