<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/small_logo.svg') }}" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/global.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
        {% block link %}{% endblock %}
        <title> Flossily: {% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block nav %}
        {% endblock %}
        {% block body %}   
        {% endblock %}
    </body>
</html>