<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/logo/favicon.svg') }}">
        <link rel="alternate icon" type="image/png" href="{{ url_for('static', filename='images/logo/favicon.png') }}">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/layout.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="{{ url_for('static', filename='styles/global.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet"><link rel="preconnect" href="https://fonts.gstatic.com">
        {% block link %}{% endblock %}
        <title> Flossily: {% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block nav %}
        {% endblock %}
        {% block body %}   
        {% endblock %}
    </body>
</html>