<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/mdstyles.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/mdshadows.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles/button.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='javascript/button-logic.js') }}" ></script>
        {% block link %}{% endblock %}
        <title>Prep: {% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block body %}   
        {% endblock %}
    </body>
</html>
