{% extends 'layout.html' %}

{% block link %}
    {{ super() }}
    <link href="{{ url_for('static', filename='styles/index-styles.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="top-banner sh-4">
        <img class="top-banner sh-4" src="{{ url_for('static', filename='images/banner1.jpg') }}">
    </div>

    <a class='scroll-down sh-8' href="#">
        <img class='arrow' src="{{ url_for('static', filename='images/arrow.svg') }}">
    </a>

    <div class='welcome-text-div sh-4'>
        <h1>Welcome to Prep!</h1>
        <h5>the best way to keep track of your recipes (and how much they cost!)</h5>
    </div>
    <div class='cards'>
        
        <div class='card sh-4'>
            <a class="card-photo-div sh-12" data-toggle="modal" data-target="#loginModal" href='#'>
                <img class='card-photo' src="{{ url_for('static', filename='images/recipe.jpg') }}">
                <div class="overlay">
                    <div class='overlay-text'>Log in to view your recipes</div>
                </div>
            </a>
            <a class='card-text-head' data-toggle="modal" data-target="#loginModal" href='#'>
                <h4> Create Recipes </h4>
            </a>
            <p class='card-text-body'>Add ingredients, amounts, and method to create custom recipes. We'll calculate the total cost of ingredients as well as the cost per serve.</p>
        </div>
        
        <div class='card sh-4'>   
            <a class="card-photo-div sh-12" data-toggle="modal" data-target="#loginModal" href='#'>
                <img class='card-photo' src="{{ url_for('static', filename='images/ingredients.jpg') }}">
                <div class="overlay">
                    <div class='overlay-text'>Log in to view your ingredients</div>
                </div>
            </a>
            <a class='card-text-head' data-toggle="modal" data-target="#loginModal" href='#'>
                <h4> Keep Track of Your Ingredients </h4>
            </a>
            <p class='card-text-body'>See details of ingredients you've used in the past, the current price, and nutrition information </p>
        </div>
        
        <div class='card sh-4'>
            <a class="card-photo-div sh-12" data-toggle="modal" data-target="#loginModal" href='#'>
                <img class='card-photo' src="{{ url_for('static', filename='images/shopping_bag.jpg') }}">
                <div class="overlay">
                    <div class='overlay-text'>Log in to view your shopping list</div>
                </div>
            </a>
            <a class='card-text-head' data-toggle="modal" data-target="#loginModal" href='#'>
                <h4> Generate Your Shopping List</h4>
            </a>
            <p class='card-text-body'>Select the recipes you would like to make and we'll generate a shopping list with quantities of each item you'll need to purchase. The list is completely customisable. Make your shopping easy!</p>
        </div>

    </div>

    <footer class='attribute disabled-text'>
        <span>Main banner photo by <a href="https://unsplash.com/@swell?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">S'well</a> on <a href="https://unsplash.com/s/photos/meal-prep?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a> •</span>
        <span>Recipe photo by <a href="https://unsplash.com/@beccatapert?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Becca Tapert</a> on <a href="https://unsplash.com/s/photos/recipe?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a> •</span>
        <span>Ingredients photo by <a href="https://unsplash.com/@webvilla?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Webvilla</a> on <a href="https://unsplash.com/s/photos/ingredient?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a> •</span>
        <span>Shopping list photo by <a href="https://unsplash.com/@thecreative_exchange?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">The Creative Exchange</a> on <a href="https://unsplash.com/s/photos/grocery-bag?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
    </footer>


{% endblock %}