{% extends 'global.html' %}

{% block title %} Welcome {% endblock %}

{% block link %}
    <link href="{{ url_for('static', filename='styles/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/login-modal.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='javascript/inputErrorHandling.js') }}" ></script>
    <script src="{{ url_for('static', filename='javascript/modalHelper.js') }}" ></script>

{% endblock %}

{% include 'join.html' %}
{% include 'login.html' %}
{% include 'email.html' %}
{% include 'code.html' %}
{% include 'reset.html' %}

{% block nav %}
    <nav class="navbar sh-4 sticky-top navbar-expand-md">
        <div class="sh-4 small-logo-circle">
            <img class="nav-logo small-logo" src="{{ url_for('static', filename='images/logo/small_logo.svg') }}">
        </div>
        
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item"><a id="join-nav-link" class="nav-link navbar-link" href='#'>Join Flossily</a></li>
                    <li class='nav-item nav-link navbar-link'>|</li>
                    <li class="nav-item"><a id="login-nav-link" class="nav-link navbar-link" href='#'>Sign In</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="sh-4 floss-photo-div">
        <img class="floss-photo" src="{{ url_for('static', filename='images/stock_photos/thread.jpg') }}">
        <div class="logo-join-div">
            <div class="sh-4 large-logo-div">
                <img class="large-logo" src="{{ url_for('static', filename='images/logo/large_logo.svg') }}">
                <div class='description'>Embroidery floss organisation made easy.</div>
            </div>
            <div class='buttons-div'>
                <button id="join-btn" class='sh-4 sign-join-button join-button' >Join Flossily</button>
                <button id="login-btn" class='sh-4 sign-join-button sign-button' >Sign In</button>
            </div>
        </div>
    </div>

{% endblock %}