{% extends "login-modal-layout.html" %}

{% block modal %}
    <div class="modal" id="login" tabindex="-1" role="dialog">
{% endblock %}
{% block body %}
    <div class="form-div">
        <form class="form" novalidate method='POST' action="/login" id='login-form'>
            <div class="sign-in">
                Sign In
            </div>
            <div>
                <label class="label">Email
                    <input class="input-border" type="text" name='email' id='email-input' required>
                </label>
                <div class='error-message hide' id='email-error'>TODO</div>
            </div>
            <div>      
                <label class="label">Password
                    <div class="input-border">
                        <input type="password" name='password' id='password-input' required>
                        <i class="material-icons eyecon" id = 'eye'> visibility_off </i>
                    </div>
                </label>
                <div class='error-message hide' id='password-error'>TODO</div>
            </div> 

            <div class='forgot-password'><a data-toggle="modal" data-target="#email" href='#'>Forgot Password?</a></div>
            <div class="btn-join-div"> 
                <div class='btn-div'><button type="submit" class="btn" id='send-button'>Sign In</button></div>
                <div class="join-div"><span class="new-user-span">New user?</span><a class="join-link" data-toggle="modal" data-dismiss="modal" data-target="#join" href='#'>Join Flossily</a></div>
            </div>
        </form>  
    </div>
{% endblock %}