{% extends "login-layout-modal.html" %}

{% block modal %}
    <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
{% endblock %}
{% block body %}
    <div class="form-div">
        <form novalidate method='POST' action="/login" id='login-form'>

            <div class="group">
            <input type="text" name='email' id='email-input' required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
            </div>
            <div class='error-message hide' id='email-error'></div>
            <div class="group bottom-margin-form">      
            <input type="password" name='password' id='password-input' required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
            </div> 
            <div class='error-message hide' id='password-error'></div>

            <div><a class='secondary-prompts' data-toggle="modal" data-dismiss="modal" data-target="#passwordEmail" href='#'>Forgot Password?</</a></div>
            <div><a class='secondary-prompts' data-toggle="modal" data-dismiss="modal" data-target="#registerModal" href='#'>Don't have an account?</a></div>
            <div class='btn-div'><button type="submit" class="btn" id='send-button'>Log in</button></div>
        </form>  
    </div>
{% endblock %}