<div class="modal" id="{{id}}" tabindex="-1" role="dialog">
    <div class="modal-contents" id="modal-contents">
        <div class="sh-4 container" id="container">
            <div class="left-color">
                <div class="login-logo-div">
                    <img class="login-logo" src="{{ url_for('static', filename='images/logo/small_logo.svg') }}">
                </div>
            </div>
            
            {% block body %}
            {% endblock %}
            <div><i class="material-icons close" id='{{id}}-close'>close</i></div> 
        </div>
    </div>
</div>