{% extends "login-layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}
    <div class="form-div">
        <form novalidate>
        <div class="group">
            <input type="password" name='password' id='password-input' required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>New Password</label>
        </div> 
        <div class='error-message hide' id='password-error'></div>

        <div class="group bottom-margin-form">
            <input type="password" name='confirm-password' id='confirm-input' required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirm New Password</label>
        </div> 
        <div class='error-message hide' id='confirm-error'></div>

        <div><a class='secondary-prompts' href='/login'>Back to Login</a></div>
        <div class='btn-div'><button type="submit" class="btn" id='send-button'>Register</button></div>
        </form>
    </div>
{% endblock %}