{% extends "login-layout-modal.html" %}

{% block modal %}
    <div class="modal" id="passwordEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
{% endblock %}

{% block body %}
    <div class='reset-prompt'>
        <p class='secondary-prompts'>Enter your email and we'll send you a code to change your password</p>
    </div>
    <div class="form-div form-div-margin">
    <form id="email-form" method='POST' novalidate>
        <div class="group bottom-margin-form">
        <input type="text" name='email' id='email-input' required>
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Email</label>
        </div>
        <div class='error-message hide' id='email-error'></div>

        <div><a class='secondary-prompts' data-toggle="modal" data-dismiss="modal" data-target="#loginModal" href='#'>Back to login</a></div>
        <div class='btn-div'>
            <button type="submit" class="btn" id='send-button' data-loading='Sending' data-default='Send Code'>
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                <span id="text">Send Code</span>
            </button>
        </div>
    </form>  
    </div>
{% endblock %}