{% extends "login-layout.html" %}

{% block link %}
    {{ super() }}
    <script src="{{ url_for('static', filename='javascript/register.js') }}" ></script>
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="form-div">
        <form novalidate method="POST" action="/register" id='register-form'>
        <div class="group">
            <input type="text" name="email" id="email-input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
        </div>
        <div class='error-message hide' id='email-error'></div>

        <div class="group">      
            <input type="password" name="password" id="password-input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
        </div> 
        <div class='error-message hide' id='password-error'></div>

        <div class="group">      
            <input type="password" name="confirm-password" id="confirm-input" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Confirm Password</label>
        </div> 
        <div class='error-message hide' id='confirm-error'></div>

        <div><a class='secondary-prompts' href='/login'>Back to login</a></div>
        <div class='btn-div'><button type="submit" class="btn" id='send-button'>Register</button></div>
        </form>  
    </div>          
{% endblock %}