:root 
{
    --B50:  #E1F5FE;
    --B100: #B3E5FC;
    --B200: #81D4FA;
    --B300: #4FC3F7;
    --B400: #29B6F6;
    --B500: #03A9F4;
    --B600: #039BE5;
    --B700: #0288D1;
    --B800: #0277BD;
    --B900: #01579B;
    --A100: #80D8FF;
    --A200: #40C4FF;
    --A400: #00B0FF;
    --A700: #0091EA;
}

html
{
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* 
{
  padding: 0;
  margin: 0;
}

button 
{
    border: none;
}

button:focus, input:focus 
{
    outline: none;
}

.hide
{
  display: none;
}

.sh-1 
{
  /* Shadow 1dp */
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
}

.sh-2 
{
  /* Shadow 2dp */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.sh-3 
{
  /* Shadow 3dp */
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}

.sh-4 
{
  /* Shadow 4dp */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

.sh-6 
{
  /* Shadow 6dp */
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
}

.sh-8 
{
  /* Shadow 8dp */
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

.sh-12 
{
  /* Shadow 12dp */
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
}

.sh-16 
{
  /* Shadow 16dp */
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
}

.sh-24 
{
  /* Shadow 24dp */
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}



