.navbar
{
    position: fixed;
    width: 100%;
    background-color: var(--B300);
    max-height: 75px;
    z-index: 2;
}

.navbar-link, .navbar-link:hover
{
    color:white;
    font-size: 20px;
}

.layout-navbar
{
    background-color: var(--B200);
}

.small-logo-circle
{
    background-color: var(--B200);
    margin-top: 60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.small-logo
{
    margin: 20px;
    margin-left: 15px;
}

.large-nav-logo
{
    margin: 5px;
    margin-top: 10px;
}

.large-logo-div
{
    width: 130px;
    position: absolute;
}

.background-div
{
    background-color: var(--B50);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.menu-div
{
    width: 250px;
    background-color: white;
    height: 100vh;
}

.menu-options
{
    margin-top: 70px;
    padding: 20px;
}

.menu-icons
{
    height: 24px;
    margin-right: 10px;
}

.floss-icon
{
    opacity: 0.87;
}

.menu-collapse
{
    position: absolute;
    right: 0px;
    transform: rotate(-90deg)
}

.rotate-collapse
{
    transform: rotate(0deg);
}

.main-option
{
    opacity: 0.87;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    cursor: pointer;
}

.anchor-div
{
    display: flex;
    align-items: center;
}

.floss-range-div
{
    margin-bottom: 0px;
}

.secondary-option
{
    opacity: 0.8;
    font-size: 22px;
    padding-left: 48px;
    position: relative;
    cursor: pointer;
}

.tertiary-option
{
    opacity: 0.75;
    font-size: 20px;
    padding-left: 72px;
    cursor: pointer;
}

.hover:hover
{
    background-color: var(--B50);
}

.hover:focus
{
    background-color: var(--B50);
    color: var(--B500);
    fill: var(--B500);
}

.content-div
{
    flex-grow: 1;
}

.search-filter-div
{
    height: 50px;
    margin-top: 70px;
    padding: 20px;
    display: flex;
}

.sort-filter
{
    margin-left: 30px;
}

.search-div
{
    border: 1px solid var(--B200);
    width: 300px;
    height: 30px;
    display: flex;
}

.search-input
{
    background-color: transparent;
    border: none;
    width: -webkit-fill-available;
    padding: 0px 10px;
    color: var(--B300);
}

.search-input::placeholder
{
    color: var(--B200);
}

.search-icon
{
    margin-top: 2px;
    margin-right: 1px;
    color: var(--B200);
    cursor: pointer;
}
