.primary-text
{
    color: rgba(255, 255, 255, 0.87);
}

.secondary-text
{
    color: rgba(255, 255, 255, 0.60);
}

.disabled-text
{
    color: rgba(255, 255, 255, 0.38);
}

.dp-0
{
  background-color: rgb(18, 18, 18);
}

.dp-1 
{
  /* Shadow 1dp */
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
  background-color: rgb(30, 30, 30);
}

.dp-2 
{
  /* Shadow 2dp */
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
  background-color: rgb(35, 35, 35);
}

.dp-3 
{
  /* Shadow 3dp */
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
  background-color: rgb(37, 37, 37);
}

.dp-4 
{
  /* Shadow 4dp */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
  background-color: rgb(39, 39, 39);
}

.dp-6 
{
  /* Shadow 6dp */
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
  background-color: rgb(44, 44, 44);
}

.dp-8 
{
  /* Shadow 8dp */
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
  background-color: rgb(46, 46, 46);
}

.dp-12 
{
  /* Shadow 12dp */
  box-shadow: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);
  background-color: rgb(51, 51, 51);
}

.dp-16 
{
  /* Shadow 16dp */
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);
  background-color: rgb(54, 54, 54);
}

.dp-24 
{
  /* Shadow 24dp */
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
  background-color: rgb(56, 56, 56);
}