.form-div-margin
{
    margin-top: 0px;
}

.reset-prompt
{
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 150px;
}

.resend-buttons
{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-top: 5px;
}