:root {
    --white: rgb(255, 255, 255);
    --teal: rgb(138, 172, 167);
    --green: rgb(80, 145, 46);
    --gold: rgb(151, 133, 92);
    --grey: rgb(51, 50, 54);
    --black: rgb(26, 26, 26);
    --red: rgb(244, 67, 54);
    --container-background: var(--white);
}

.error-message
{
    color: var(--red);
    font-size: 12px;
    margin-bottom: 27px;
    width: 300px;
}
